* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: greenyellow;
}

.svg-wrapper {
  display: flex;
  justify-content: center;
}

.car-svg {
  /* Transform scale property is manipulated in JS */
  transition: transform .4s ease;
}

.gloss {
  fill: red;
}

.controls {
  padding: 1rem;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.category-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.scale-controls label {
  display: block;
  margin-bottom: .4rem;
}